# Virtual Environment
# -------------------
.venv
venv

# Pycache
# --------
__pycache__

# Python egg metadata
# -------------------
*.egg-info

# Logs
# ----
logs
*.log

# Instance folder
# ---------------
instance/

# Database migrations
# -------------------
migrations/

# Configuration files
# -------------------
.env