{% extends 'base.html' %}
{% block title %}
Add Event
{% endblock %}
{% block content %}
<div class="container py-5">
    <h1>Add Event</h1>

    <form method="POST">
        <div class="form-outline mb-2" data-mdb-input-init>
            <input type="text" id="name" name="name" class="form-control" />
            <label class="form-label" for="name">Name</label>
        </div>
        <div class="form-outline mb-2" data-mdb-input-init>
            <textarea id="description" name="description" class="form-control"></textarea>
            <label class="form-label" for="description">Event Description</label>
        </div>
        <div class="form-outline mb-2" data-mdb-input-init>
            <input type="date" id="date" name="date" class="form-control" />
            <label class="form-label" for="date">Date</label>
        </div>
        <div class="form-outline mb-2" data-mdb-input-init>
            <input type="time" id="time" name="time" class="form-control" />
            <label class="form-label" for="time">Time</label>
        </div>
        <div class="form-outline mb-2" data-mdb-input-init>
            <input type="text" id="location" name="location" class="form-control" />
            <label class="form-label" for="location">Location</label>
        </div>
        <div class="form-outline mb-2">
            <select id="person" name="person" class="form-control mdb-select" data-mdb-select-init >
            <option></option>
            {% for person in people %}
            <option value="{{person}}">{{person}}</option>
            {% endfor %}
            </select>
            <label class="form-label select-label" for="person">Person</label>
        </div>
        <button type="submit" class="btn btn-primary">Add Event</button>
    </form>

    <h1>View Events by Date</h1>
    <div class="form-outline">
        <input type="date" id="view_date" name="view_date" class="form-control"/>
        <label class="form-label" for="view_date">Date</label>
    </div>
    <button class="btn btn-primary" id="btn_view_date">View Events</button>
</div>

{% endblock %}

{% block extra_js %}

<script>
    document.getElementById("btn_view_date").addEventListener("click", function () {
        window.location.href = "/date/" + document.getElementById('view_date').value;
    });
</script>
    
{% endblock %}

