{% extends 'base.html' %}
{% block title %}
Add Event
{% endblock %}
{% block content %}
<div class="container py-5">
    <h1>Add Event</h1>

    <form method="POST">
        <div class="form-outline mb-2" data-mdb-input-init>
            <input type="text" id="name" name="name" class="form-control" />
            <label class="form-label" for="name">Name</label>
        </div>
        <div class="form-outline mb-2" data-mdb-input-init>
            <textarea id="description" name="description" class="form-control"></textarea>
            <label class="form-label" for="description">Event Description</label>
        </div>
        <div class="d-flex flex-row">
        <div class="form-outline mb-2 me-1" data-mdb-input-init>
            <input type="date" id="date_start" name="date_start" class="form-control" />
            <label class="form-label" for="date">Start Date</label>
        </div>
        <div class="form-outline mb-2 ms-1" data-mdb-input-init>
            <input type="date" id="date_end" name="date_end" class="form-control" />
            <label class="form-label" for="date_end">End Date</label>
        </div>
        </div>
        <div class="d-flex flex-row">
            <div class="form-outline mb-2 me-1" data-mdb-input-init>
                <input type="time" id="time_start" name="time_start" class="form-control" />
                <label class="form-label" for="time_start">Start Time</label>
            </div>
            <div class="form-outline mb-2 mx-1" data-mdb-input-init>
                <input type="time" id="time_end" name="time_end" class="form-control" />
                <label class="form-label" for="time_end">End Time</label>
            </div>
            <div class="form-outline mb-2 ms-1" data-mdb-input-init >
                <input type="text" id="time_zone" name="time_zone" class="form-control"/>
                <label class="form-label" for="time_zone">Time Zone</label>
            </div>
        </div>
        <div class="form-outline mb-2" data-mdb-input-init>
            <input type="text" id="location" name="location" class="form-control" />
            <label class="form-label" for="location">Location</label>
        </div>
        <div class="form-outline mb-2">
            <select id="person" name="person" class="form-control mdb-select" data-mdb-select-init>
                <option></option>
                <option value="everyone">Everyone</option>
                {% for person in people %}
                <option value="{{person}}">{{person}}</option>
                {% endfor %}
            </select>
            <label class="form-label select-label" for="person">Event Participant</label>
        </div>
        <input type="hidden" id="added_by" name="added_by" value="{{current_user.username}}" />
        <button type="submit" class="btn btn-primary">Add Event</button>
        <button class="btn btn-primary" id="btn_up_ics">Upload ICS file</button>
    </form>

    <h1>View Events by Date</h1>
    <div class="form-outline">
        <input type="date" id="view_date" name="view_date" class="form-control" />
        <label class="form-label" for="view_date">Date</label>
    </div>
    <button class="btn btn-primary" id="btn_view_date">View Events</button>
</div>

{% endblock %}

{% block extra_js %}

<script>
    document.getElementById("time_zone").value = Intl.DateTimeFormat().resolvedOptions().timeZone;

    document.getElementById("btn_view_date").addEventListener("click", function () {
        window.location.href = "/date/" + document.getElementById('view_date').value;
    });

    document.getElementById("btn_up_ics").addEventListener("click", function () {
        // open file selection menu
        const input = document.createElement('input');
        input.type = 'file';
        input.accept = '.ics';
        input.onchange = e => {
            const file = e.target.files[0];
            const reader = new FileReader();
            reader.onload = function () {
                const text = reader.result;
                console.log(text);
                fetch("{{ url_for('calendar.ics_to_event') }}", {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ 'ics': text })
                })
                    .then(response => response.json())
                    .then(data => {
                        showAlert(data);
                        fetchEvents("all");
                    })
                    .catch((error) => {
                        console.error('Error:', error);
                        showAlert({ 'message': error, 'type': 'danger' });
                    });
            };
            reader.readAsText(file);
        };

    });
</script>

{% endblock %}