{% extends 'base.html' %}
{% block title %}
Add Event
{% endblock %}
{% block content %}
<div class="container py-5">
    <h1>Add Event</h1>
    <div class="card-group">

        {% for event in events %}
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">{{event.name}}</h5>
                <p class="card-text">
                    {{ event.date}}
                </p>
            </div>
        </div>
        {% endfor %}

    </div>
    <form method="POST">
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" class="form-control">
        </div>
        <div class="form-group">
            <label for="description">Description:</label>
            <textarea id="description" name="description" class="form-control"></textarea>
        </div>
        <div class="form-group">
            <label for="date">Date:</label>
            <input type="date" id="date" name="date" class="form-control">
        </div>
        <div class="form-group">
            <label for="time">Time:</label>
            <input type="time" id="time" name="time" class="form-control">
        </div>
        <div class="form-group">
            <label for="location">Location:</label>
            <input type="text" id="location" name="location" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">Add Event</button>
    </form>

    <h1>View Events</h1>
    <div class="form-group">
        <label for="view_date">Date:</label>
        <input type="date" id="view_date" name="view_date" class="form-control">
    </div>
    <button class="btn btn-primary"
        onclick="window.location.href='/date/' + document.getElementById('view_date').value">View Events</button>
</div>

{% endblock %}