{% extends 'base.html' %}

{% block title %}
Admin
{% endblock %}

{% block content %}

<main class="my-5">
    <div class="container px-4">
        <section>
            <div class="card shadow-0">
                <div class="card-header py-4 mb-3">
                    <h4 class="mb-0">User management</h4>
                </div>
                <div class="card-body">
                    <div class="d-flex justify-content-end mb-4">
                        <div data-mdb-input-init class="form-outline">
                            <input data-mdb-search data-mdb-target="#table_inputs" type="text" id="search_table_inputs"
                                class="form-control" />
                            <label class="form-label" for="search_table_inputs">Search</label>
                        </div>
                        <button data-mdb-ripple-init class="btn btn-primary btn-sm ms-3" data-mdb-add-entry
                            data-mdb-target="#table_inputs">
                            <i class="fa fa-plus"></i>
                        </button>
                    </div>
                    <hr />
                    <div id="table_inputs"></div>
                </div>
            </div>
        </section>
        <section>
            <div class="card shadow-0">
                <div class="card-header py-4 mb-3">
                    <h4 class="mb-0">Template management</h4>
                </div>
                <div class="card-body">
                    <div class="d-flex justify-content-end mb-4">
                        <div class="form-outline" data-mdb-input-init>
                            <input data-mdb-search data-mdb-target="#table2_modal" type="text" id="search2_modal"
                                class="form-control" />
                            <label class="form-label" for="search2_modal">Search</label>
                        </div>
                        <button class="btn btn-primary btn-sm ms-3" data-mdb-ripple-init data-mdb-add-entry
                            data-mdb-target="#table2_modal">
                            <i class="fa fa-plus"></i>
                        </button>
                    </div>
                    <div id="table2_modal"></div>
                </div>
            </div>
        </section>
    </div>
</main>

{% endblock %}

{% block extra_js %}

<!-- MDB PLUGINS -->
<script type="text/javascript" src="{{url_for('static', filename='plugins/js/all.min.js')}}"></script>
<script>
    const advancedColumns = [
        {
            width: 250,
            label: 'Company',
            field: 'company',
        },
        {
            width: 250,
            sort: false,
            defaultValue: 'Warsaw',
            options: ['London', 'Warsaw', 'New York'],
            inputType: 'select',
            label: 'Office',
            field: 'office',
        },
        {
            width: 250,
            inputType: 'number',
            defaultValue: 1,
            label: 'Employees',
            field: 'employees',
        },
        {
            width: 100,
            defaultValue: false,
            inputType: 'checkbox',
            label: 'International',
            field: 'international',
        },
    ];

    const advancedRows = [
        {
            company: 'Smith & Johnson',
            office: 'London',
            employees: 30,
            international: true,
        },
        {
            company: 'P.J. Company',
            office: 'London',
            employees: 80,
            international: false,
        },
        {
            company: 'Food & Wine',
            office: 'London',
            employees: 12,
            international: false,
        },
        {
            company: 'IT Service',
            office: 'London',
            employees: 17,
            international: false,
        },
        {
            company: 'A. Jonson Gallery',
            office: 'London',
            employees: 4,
            international: false,
        },
        {
            company: 'F.A. Architects',
            office: 'London',
            employees: 4,
            international: false,
        },
    ];

    const tableDisableEdit = new TableEditor(
        document.getElementById('table_inputs'),
        { columns: advancedColumns, rows: advancedRows },
        { entries: 5, entriesOptions: [5, 10, 15] }
    );
</script>
{% endblock %}