{% extends 'base.html' %}

{% block title %}
Admin
{% endblock %}

{% block content %}

<main class="my-5 mx-3">
    <!-- Tabs navs -->
    <ul class="nav nav-tabs nav-justified mb-3" id="admin" role="tablist">
        <li class="nav-item" role="presentation">
            <a data-mdb-tab-init class="nav-link active" id="admin-tab-1" href="#admin-tabs-1" role="tab"
                aria-controls="admin-tabs-1" aria-selected="true">User Management</a>
        </li>
        <li class="nav-item" role="presentation">
            <a data-mdb-tab-init class="nav-link" id="admin-tab-2" href="#admin-tabs-2" role="tab"
                aria-controls="admin-tabs-2" aria-selected="false">Timecards</a>
        </li>
    </ul>
    <!-- Tabs navs -->
    <!-- Tabs content -->
    <div class="tab-content" id="admin-content">
        <div class="tab-pane fade show active" id="admin-tabs-1" role="tabpanel" aria-labelledby="admin-tab-1">
            <div class="d-flex justify-content-end mb-4">
                <div data-mdb-input-init class="form-outline">
                    <input data-mdb-search data-mdb-target="#table_inputs" type="text" id="search_table_inputs"
                        class="form-control" />
                    <label class="form-label" for="search_table_inputs">Search</label>
                </div>
                <button data-mdb-ripple-init class="btn btn-primary btn-sm ms-3" data-mdb-add-entry
                    data-mdb-target="#table_inputs">
                    <i class="fa fa-plus"></i>
                </button>
            </div>
            <hr />
            <div id="table_inputs"></div>
        </div>
        <div class="tab-pane fade show active" id="admin-tabs-2" role="tabpanel" aria-labelledby="admin-tab-2">
            <div class="d-flex justify-content-end mb-4">
                <div data-mdb-input-init class="form-outline">
                    <input data-mdb-search data-mdb-target="#table_timecard" type="text" id="search_table_timecard"
                        class="form-control" />
                    <label class="form-label" for="search_table_timecard">Search</label>
                </div>
                <button data-mdb-ripple-init class="btn btn-primary btn-sm ms-3" data-mdb-add-entry
                    data-mdb-target="#table_timecard">
                    <i class="fa fa-plus"></i>
                </button>
            </div>
            <hr />
            <div id="table_timecard"></div>
        </div>
    </div>
</main>

{% endblock %}

{% block extra_js %}

<!-- MDB PLUGINS -->
<script type="text/javascript" src="{{url_for('static', filename='plugins/js/all.min.js')}}"></script>
<script>
    function fetchTime(filter) {
        console.log(filter);
        let url = "{{ url_for('times.time_by_date', date='all')}}";
        if (filter.person) {
            url = "{{ url_for('times.time_by_person', person_id=0)}}";
            url = url.replace('0', filter.person);
        };
        if (filter.date) {
            url = "{{ url_for('times.time_by_date', date=0)}}";
            url = url.replace('0', filter.date);
        };
        console.log(url);
        fetch(url)
            .then((response) => response.json())
            .then((data) => {
                data = data.map((time) => {
                    time.actions = `
    <button data-mdb-ripple-init class="edit-btn btn btn-outline-primary btn-floating btn-sm" data-mdb-id="${time.id}" data-mdb-tooltip-init title="Edit"><i class="fa fa-edit"></i></button>
    <button data-mdb-ripple-init class="delete-btn btn btn-outline-primary btn-floating btn-sm" data-mdb-id="${time.id}"><i class="fa fa-trash" data-mdb-tooltip-init title="Delete"></i></button>`;
                    return time;
                });
                asyncTable.update(
                    {
                        rows: data.map((time) => ({
                            ...time,
                        })),
                    },
                    { loading: false }
                );
            });
    }

    // Tab 1
    const advancedColumns1 = [
        {
            width: 250,
            label: 'Company',
            field: 'company',
        },
        {
            width: 250,
            sort: false,
            defaultValue: 'Warsaw',
            options: ['London', 'Warsaw', 'New York'],
            inputType: 'select',
            label: 'Office',
            field: 'office',
        },
        {
            width: 250,
            inputType: 'number',
            defaultValue: 1,
            label: 'Employees',
            field: 'employees',
        },
        {
            width: 100,
            defaultValue: false,
            inputType: 'checkbox',
            label: 'International',
            field: 'international',
        },
    ];

    const advancedRows1 = [
        {
            company: 'Smith & Johnson',
            office: 'London',
            employees: 30,
            international: true,
        },
        {
            company: 'P.J. Company',
            office: 'London',
            employees: 80,
            international: false,
        },
        {
            company: 'Food & Wine',
            office: 'London',
            employees: 12,
            international: false,
        },
        {
            company: 'IT Service',
            office: 'London',
            employees: 17,
            international: false,
        },
        {
            company: 'A. Jonson Gallery',
            office: 'London',
            employees: 4,
            international: false,
        },
        {
            company: 'F.A. Architects',
            office: 'London',
            employees: 4,
            international: false,
        },
    ];

    const tableDisableEdit = new TableEditor(
        document.getElementById('table_inputs'),
        { columns: advancedColumns1, rows: advancedRows1 },
        { entries: 5, entriesOptions: [5, 10, 15], confirm: true }
    );

    // Tab 2
    const timecardColumns = [
        {
            width: 30,
            sort: true,
            label: 'Date',
            field: 'date',
        },
        {
            width: 50,
            inputType: 'text',
            label: 'Employee',
            field: 'person',
        },
        {
            width: 20,
            inputType: 'time',
            label: 'Time In',
            field: 'time_in',
        },
        {
            width: 20,
            inputType: 'time',
            label: 'Time Out',
            field: 'time_out',
        },
        {
            width: 100,
            inputType: 'text',
            label: 'Notes',
            field: 'description',
        },
        {
            width: 10,
            defaultValue: false,
            inputType: 'checkbox',
            label: 'Paid',
            field: 'paid',
        },
        {
            width: 50,
            inputType: 'text',
            label: 'Actions',
            field: 'actions',
        },
    ];

    const asyncTable = new mdb.Datatable(
        document.getElementById('table_timecard'),
        { columns: timecardColumns, },
        {
            search: true,
            pagination: true,
            loading: true,
            striped: true,
            sortable: true,
            entries: 5,
            entriesOptions: [5, 15, 25],
            confirm: true
        }
    );

    fetchTime({"person":"all"});
</script>
{% endblock %}