{% extends 'base.html' %}

{% block title %}Calendar{% endblock %}

{% block xtra_head %}
<link rel="stylesheet" href="{{url_for('static', filename='plugins/css/calendar.min.css') }}" />
{% endblock %}

{% block content %}


<div class="container">

    <!-- Section: Calendar -->
    <section class="">

        <div class="card shadow-0">
            <div class="card-body">
                <div class="calendar" id="calendar" data-mdb-calendar-init></div>
            </div>
        </div>

    </section>
    <!-- Section: Calendar -->

</div>

{% endblock %}

{% block extra_js %}
<script src="{{url_for('static', filename='plugins/js/calendar.min.js')}}"></script>
<script>
    // Event listeners
    const searchFocus = document.getElementById('search-focus');
    const keys = [
        { keyCode: 'AltLeft', isTriggered: false },
        { keyCode: 'ControlLeft', isTriggered: false },
    ];

    window.addEventListener('keydown', (e) => {
        keys.forEach((obj) => {
            if (obj.keyCode === e.code) {
                obj.isTriggered = true;
            }
        });

        const shortcutTriggered = keys.filter((obj) => obj.isTriggered).length === keys.length;

        if (shortcutTriggered) {
            searchFocus.focus();
        }
    });

    window.addEventListener('keyup', (e) => {
        keys.forEach((obj) => {
            if (obj.keyCode === e.code) {
                obj.isTriggered = false;
            }
        });
    });

    function fetchEvents(query_date) {
        let url = "{{ url_for('events.event_list') }}/".concat(query_date);
        fetch(url)
            .then((response) => {
                if (!response.ok) {
                    throw new Error(`HTTP error! status: ${response.status}`);
                }
                return response.json();
            })
            .then((data) => {
                data = data.map((event) => {
                    event.summary = event.name;
                    const s_date = Calendar.dayjs(event.date_start);
                    const s_time = Calendar.dayjs(event.date_start + ' ' + event.time_start);
                    const e_date = Calendar.dayjs(event.date_start);
                    const e_time = Calendar.dayjs(event.date_start + ' ' + event.time_start).add(2, 'hour');

                    if (event.date_end != null) {
                        const e_date = Calendar.dayjs(event.date_end);
                    }
                    if (event.time_end != null) {
                        const e_time = Calendar.dayjs(event.time_end);
                    }

                    event.start = {
                        date: s_date,
                        dateTime: s_time
                    };
                    event.end = {
                        date: e_date,
                        dateTime: e_time
                    };
                    event.color = {
                        background: '#cfe0fc',
                        foreground: '#0a47a9',
                    };
                    console.log(data);
                    calendarInstance.addEvents(data)
                })
            })
            .catch((error) => {
                console.error('There was a problem with the fetch operation: ', error);
            });


    }

    const events = [
        {
            summary: 'JS Conference',
            start: {
                date: Calendar.dayjs().format('DD/MM/YYYY'),
            },
            end: {
                date: Calendar.dayjs().format('DD/MM/YYYY'),
            },
            color: {
                background: '#cfe0fc',
                foreground: '#0a47a9',
            },
        },
        {
            summary: 'Vue Meetup',
            start: {
                date: Calendar.dayjs().add(1, 'day').format('DD/MM/YYYY'),
            },
            end: {
                date: Calendar.dayjs().add(5, 'day').format('DD/MM/YYYY'),
            },
            color: {
                background: '#ebcdfe',
                foreground: '#6e02b1',
            },
        },
        {
            summary: 'Angular Meetup',
            description: 'Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur',
            start: {
                date: Calendar.dayjs().subtract(3, 'day').format('DD/MM/YYYY'),
                dateTime: Calendar.dayjs().subtract(3, 'day').format('DD/MM/YYYY') + ' 10:00',
            },
            end: {
                date: Calendar.dayjs().add(3, 'day').format('DD/MM/YYYY'),
                dateTime: Calendar.dayjs().add(3, 'day').format('DD/MM/YYYY') + ' 14:00',
            },
            color: {
                background: '#c7f5d9',
                foreground: '#0b4121',
            },
        },
        {
            summary: 'React Meetup',
            start: {
                date: Calendar.dayjs().add(5, 'day').format('DD/MM/YYYY'),
            },
            end: {
                date: Calendar.dayjs().add(8, 'day').format('DD/MM/YYYY'),
            },
            color: {
                background: '#fdd8de',
                foreground: '#790619',
            },
        },
        {
            summary: 'Meeting',
            start: {
                date: Calendar.dayjs().add(1, 'day').format('DD/MM/YYYY'),
                dateTime: Calendar.dayjs().add(1, 'day').format('DD/MM/YYYY') + ' 8:00',
            },
            end: {
                date: Calendar.dayjs().add(1, 'day').format('DD/MM/YYYY'),
                dateTime: Calendar.dayjs().add(1, 'day').format('DD/MM/YYYY') + ' 12:00',
            },
            color: {
                background: '#cfe0fc',
                foreground: '#0a47a9',
            },
        },
        {
            summary: 'Call',
            start: {
                date: Calendar.dayjs().add(2, 'day').format('DD/MM/YYYY'),
                dateTime: Calendar.dayjs().add(2, 'day').format('DD/MM/YYYY') + ' 11:00',
            },
            end: {
                date: Calendar.dayjs().add(2, 'day').format('DD/MM/YYYY'),
                dateTime: Calendar.dayjs().add(2, 'day').format('DD/MM/YYYY') + ' 14:00',
            },
            color: {
                background: '#292929',
                foreground: '#f5f5f5',
            },
        }
    ];

    const calendarElement = document.getElementById('calendar');
    const calendarInstance = Calendar.getInstance(calendarElement);
    calendarInstance.addEvents(events)
    fetchEvents('all');
</script>
{% endblock %}