{% extends 'base.html' %}

{% block title %}
Event Detail
{% endblock %}

{% block content %}
<div class="container py-5">
    <h1>Event Detail</h1>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">{{ event.name }}</h5>
            <h6 class="card-subtitle">for {{event.person}}</h6>
            <p class="card-text">{{ event.description }}</p>
            <a href="{{ url_for('events.event_detail', id=event.id) }}" class="btn btn-primary">Edit</a>
            <button id="deleteButton" class="btn btn-danger" onclick="deleteEvent()">Delete</button>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script>
    function deleteEvent() {
        let eventId = "{{event.id}}"; 

        fetch(`/event/${eventId}`, {
            method: 'DELETE',
        })
            .then(response => response.json())
            .then(data => console.log(data))
            .catch((error) => {
                console.error('Error:', error);
            })
            .then(() => {
                window.location.href = '/events';
            });
    }

    function toggleEdit() {
        let button = document.getElementById('editButton');
        let fields = [document.getElementById('taskDescription'), document.getElementById('taskDate'), document.getElementById('taskName')]; // Add all other fields here

        fields.forEach(function (field) {
            if (field.hasAttribute('readonly')) {
                field.removeAttribute('readonly');
            } else {
                field.setAttribute('readonly', true);
            }
        });
        if (button.textContent === 'Edit') {
            button.textContent = 'Save';
        } else {
            button.textContent = 'Edit';
        }
    }
</script>
{% endblock %}