{% extends 'base.html' %}

{% block title %}
Event Detail
{% endblock %}

{% block content %}
<div class="container py-5">
    <h1>Event Detail</h1>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">{{ event.name }}</h5>
            <h6 class="card-subtitle">for {{event.person}}</h6>
            <hr>
            <form id="detailForm" action="{{url_for('events.event_api',id=event.id)}}">
                <div class="form-outline mb-2" data-mdb-input-init>
                    <textarea id="description" name="description" class="form-control"
                        readonly>{{event.description}}</textarea>
                    <label class="form-label" for="description">Event Description</label>
                </div>
                <div class="form-outline mb-2" data-mdb-input-init>
                    <input type="date" id="date" name="date" class="form-control" readonly value="{{event.date}}" />
                    <label class="form-label" for="date">Date</label>
                </div>
                <div class="form-outline mb-2" data-mdb-input-init>
                    <input type="time" id="time" name="time" class="form-control" readonly value="{{event.time}}" />
                    <label class="form-label" for="time">Time</label>
                </div>
                <div class="form-outline mb-2" data-mdb-input-init>
                    <input type="text" id="location" name="location" class="form-control" readonly
                        value="{{event.location}}" />
                    <label class="form-label" for="location">Location</label>
                </div>
                <div class="form-outline mb-2">
                    <select id="person" name="person" class="form-control mdb-select" data-mdb-select-init >
                    <option></option>
                    <option value="everyone" {% if event.person == 'everyone' %}selected{% endif %}>Everyone</option>
                    {% for person in people %}
                    <option value="{{person}}" {% if event.person == person %}selected{% endif %}>{{person}}</option>
                    {% endfor %}
                    </select>
                    <label class="form-label select-label" for="person">Event Participant</label>
                </div>
                {% if current_user.admin %}
                <div class="form-outline mb-2" data-mdb-input-init>
                    <input type="text" id="added_by" name="added_by" class="form-control" readonly
                        value="{{event.added_by}}" />
                    <label class="form-label" for="added_by">Created By</label>
                </div>
                {% endif %}
            </form>
            <button id="editButton" class="btn btn-primary" onclick="toggleEdit()">Edit</button>
            <button id="deleteButton" class="btn btn-danger" onclick="deleteEvent()">Delete</button>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script>
    function toggleEdit() {
        let eventId = "{{event.id}}";
        let button = document.getElementById('editButton');
        let fields = [document.getElementById('description'), document.getElementById('date'), document.getElementById('time'), document.getElementById('location')];
        let form = document.getElementById('detailForm');

        fields.forEach(function (field) {
            console.log(field);

            if (field === null) {
                console.log('field is null' + field.id)
            } else if (field.hasAttribute('readonly')) {
                field.removeAttribute('readonly');
            } else {
                field.setAttribute('readonly', true);
            }
        });

        if (button.textContent === 'Edit') {
            button.textContent = 'Save';
        } else {
            let formData = new FormData(form);
            fetch(form.action, {
                method: 'PATCH',
                body: new URLSearchParams(formData).toString(),
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded'
                }
            }).then(response => {
                if (!response.ok) {
                    throw new Error(`HTTP error! status: ${response.status}`);
                }
                return response.json();
            }).then(json => {
                console.log(json);
                button.textContent = 'Edit';
            }).catch(e => {
                console.log('There was a problem with the fetch operation: ' + e.message);
            }).then(() => {
                window.location.href = `/event/${eventId}`;
            });
        }
    }

    function deleteEvent() {
        let eventId = "{{event.id}}";

        fetch(`/event/${eventId}`, {
            method: 'DELETE',
        })
            .then(response => response.json())
            .then(data => console.log(data))
            .catch((error) => {
                console.error('Error:', error);
            })
            .then(() => {
                window.location.href = '/events';
            });
    }

</script>
{% endblock %}