{% extends 'base.html' %}

{% block title %}
Task Detail
{% endblock %}

{% block content %}
<div class="container py-5">
    <h1>Task Detail</h1>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title" id="taskName">{{ task.name }}</h5>
            <form id="taskForm" action="{{url_for('tasks.task_api',id=task.id)}}" method="post">
                <div class="form-outline mb-2" data-mdb-input-init>
                    <textarea type="text" id="taskDescription" name="description" readonly class="form-control" value="{{ task.description
                        }}" ></textarea>
                    <label class=" form-label" for="taskDescription">Description</label>
                </div>
                <div class="form-outline mb-2" data-mdb-input-init>
                    <input type="date" class="form-control" id="date" name="date" readonly
                        value="{{ task.date.strftime('%Y-%m-%d') if task.date else ''}}" />
                    <label class="form-label" for="taskDate">Date</label>
                </div>
                <div class="form-outline mb-2" data-mdb-input-init>
                    <input type="number" class="form-control" id="priority" name="priority" readonly
                        value="{{ task.priority }}" />
                    <label class="form-label" for="taskPriority">Priority</label>
                </div>
                <div class="form-check mb2" >
                    <input class="form-check-input"type="checkbox" id="template" name="template" readonly disabled
                        {% if task.template %} checked {% endif %} />
                    <label class="form-check-label" for="template">Template</label>
                </div>
                {% if current_user.admin %}
                {% if templates %}
                <div class="form-outline mb-2">
                    <select class="form-select" id="templates" data-mdb-select-init multiple readonly disabled>
                        {% for template in templates %}
                        <option value="{{ template.id }}">{{ template.name }}</option>
                        {% endfor %}
                    </select>
                    <label class="form-label select-label" for="templates">Templates</label>
                </div>
                {% endif %}
                <div class="form-outline mb-2" data-mdb-input-init>
                    <input type="text" id="added_by" name="added_by" class="form-control" readonly
                        value="{{task.added_by}}" />
                    <label class="form-label" for="added_by">Created By</label>
                </div>
                {% endif %}
            </form>
            <button id="editButton" class="btn btn-primary" onclick="toggleEdit()">Edit</button>
            <button id="backButton" class="btn btn-secondary">Back</button>
            <button id="deleteButton" class="btn btn-danger" onclick="deleteTask()">Delete</button>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script>
    function deleteTask() {
        let taskId = "{{task.id}}";

        fetch(`/task/${taskId}`, {
            method: 'DELETE',
        })
            .then(response => response.json())
            .then(data => console.log(data))
            .catch((error) => {
                console.error('Error:', error);
            })
            .then(() => {
                window.location.href = '/tasks';
            });
    }

    function toggleEdit() {
        let button = document.getElementById('editButton');
        let fields = [
            document.getElementById('taskDescription'),
            document.getElementById('date'),
            document.getElementById('taskName'),
            document.getElementById('template'),
            document.getElementById('templates'),
            document.getElementById('priority')
        ];
        let form = document.getElementById('taskForm');

        fields.forEach(function (field) {
            if (field.hasAttribute('readonly')) {
                field.removeAttribute('readonly');
                field.removeAttribute('disabled');               
            } else {
                field.setAttribute('readonly', true);
                field.setAttribute('disabled', true);
            }
        });

        if (button.textContent === 'Edit') {
            button.textContent = 'Save';
        } else {
            let formData = new FormData(form);
            console.log(formData.values());
            fetch(form.action, {
                method: 'PATCH',
                body: formData
            }).then(response => {
                if (!response.ok) {
                    throw new Error(`HTTP error! status: ${response.status}`);
                }
                return response.json();
            }).then(json => {
                console.log(json);
                button.textContent = 'Edit';
            }).catch(e => {
                console.log('There was a problem with the fetch operation: ' + e.message);
            });
        }
    }

    document.getElementById('backButton').addEventListener('click', () => {
        window.location.href = "{{url_for('tasks.task_list')}}";
    });
</script>
{% endblock %}