{% extends 'base.html' %}

{% block title %}
Task Detail
{% endblock %}

{% block content %}
<div class="container py-5">
    <h1>Task Detail</h1>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title" id="taskName">{{ task.name }}</h5>
            <form id="taskForm" action="{{task.id}}" method="post">
                <div class="form-outline mb-2">
                    <input type="text" id="taskDescription" name="description" readonly class="form-control" value="{{ task.description
                        }}"" />
                    <label class=" form-label" for="taskDescription">Description</label>
                </div>
                <div class="form-outline mb-2">
                <input type="date" class="form-control" id="taskDate" name="date" readonly
                    value="{{ task.date.strftime('%Y-%m-%d') }}" />
                <label class="form-label" for="taskDate">Date</label>
                </div>
                <div class="form-outline mb-2">
                    <input type="number" class="form-control" id="taskPriority" name="priority" readonly value="{{ task.priority }}" />
                    <label class="form-label" for="taskPriority">Priority</label>
                </div>
                {% if current_user.admin %}
                <div class="form-outline mb-2" data-mdb-input-init>
                    <input type="text" id="added_by" name="added_by" class="form-control" readonly
                        value="{{task.added_by}}" />
                    <label class="form-label" for="added_by">Created By</label>
                </div>
                {% endif %}
            </form>
            <button id="editButton" class="btn btn-primary" onclick="toggleEdit()">Edit</button>
            <button id="deleteButton" class="btn btn-danger" onclick="deleteTask()">Delete</button>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script>
    function deleteTask() {
        let taskId = "{{task.id}}"; 

        fetch(`/task/${taskId}`, {
            method: 'DELETE',
        })
            .then(response => response.json())
            .then(data => console.log(data))
            .catch((error) => {
                console.error('Error:', error);
            })
            .then(() => {
                window.location.href = '/tasks';
            });
    }

    function toggleEdit() {
        let button = document.getElementById('editButton');
        let fields = [document.getElementById('taskDescription'), document.getElementById('taskDate'), document.getElementById('taskName'), document.getElementById('taskPriority')]; 
        let form = document.getElementById('taskForm');

        fields.forEach(function (field) {
            if (field.hasAttribute('readonly')) {
                field.removeAttribute('readonly');
            } else {
                field.setAttribute('readonly', true);
            }
        });

        if (button.textContent === 'Edit') {
            button.textContent = 'Save';
        } else {
            let formData = new FormData(form);
            fetch(form.action, {
                method: 'PATCH',
                body: formData,
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded'
                }
            }).then(response => {
                if (!response.ok) {
                    throw new Error(`HTTP error! status: ${response.status}`);
                }
                return response.json();
            }).then(json => {
                console.log(json);
                button.textContent = 'Edit';
            }).catch(e => {
                console.log('There was a problem with the fetch operation: ' + e.message);
            });
        }
    }
</script>
{% endblock %}