{% extends 'base.html' %}

{% block title %}
Events
{% endblock %}

{% block content %}
<div class="container py-5">
    <h1>Events</h1>
    <div class="container">

        <div class="container py-5">
            <h1>Events</h1>
            <div class="container">
                <div class="row my-2">
                    <div class="col-md-3 ">
                        <label class="form-label select-label" for="filter">Filter</label>
                        <select id="filter" class="form-select" data-mdb-select-init>
                            <option value="today" selected>Today</option>
                            <option value="all">All</option>
                            <option value="future">Future</option>
                        </select>

                    </div>
                </div>
                <div class="row">
                    {% for event in events %}
                    <div class="col-md-4 col-sm-12 python_event">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title" id="name_{{event.id}}">{{ event.name }}</h5>
                                <p class="card-title" id="date_{{event.id}}">{{ event.date }} {{event.time}}</p>
                                <p class="card-title" id="person_{{event.id}}">{{ event.person }}</p>
                                <p class="card-text" id="description_{{event.id}}">{{ event.description }}</p>
                            </div>
                            <div class="container">
                                <div class="form-check float-end">
                                    <input type="checkbox" class="form-check-input" id="event_completed_{{event.id}}" {%
                                        if event.completed %} checked {% endif %} />
                                    <label class="form-check-label" for="event_completed_{{event.id}}">Completed</label>
                                </div>
                            </div>
                            <div class="card-footer">
                                <div class="col-md-6">
                                    <button class="btn btn-primary" id="btn_event_detail_{{event.id}}"
                                        onclick="redirectToEventDetail('{{event.id}}')">View Details</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <button class="btn btn-primary m-2" id="btn_add_event">Add Event</button>
    </div>
    {% endblock %}

    {% block extra_js %}
    <script>
        // Loop through each checkbox and add the event listener
        document.querySelectorAll("[id^='event_completed']").forEach(function (checkbox) {
            checkbox.addEventListener("change", function () {
                var completed = this.checked;
                var eventId = this.id.split("_")[2]; // Extract the event ID from the checkbox ID
                var url = "{{ url_for('events.event_api',id=0) }}";
                url = url.replace('0', eventId);
                let formData = new FormData();
                if (checkbox.checked) {
                    formData.append("completed", "True");
                } else {
                    formData.append("completed", "False");
                }
                fetch(url, {
                    body: formData,
                    method: "PATCH"
                })
                    .then(response => response.json())
                    .then(data => {
                        console.log(data);
                    })
                    .catch(error => {
                        console.error(error);
                    });
            });
        });

        function redirectToEventDetail(eventId) {
            url = "{{ url_for('events.event_detail', id=0) }}"
            url = url.replace('0', eventId);
            window.location.href = url;
        }

        document.getElementById("btn_add_event").addEventListener("click", function () {
            window.location.href = "{{ url_for('events.add_event') }}";
        });

        document.addEventListener("DOMContentLoaded", function () {
            filterEvents("today");
        });

        document.getElementById("filter").addEventListener("change", function () {
            var filterValue = this.value;
            filterEvents(filterValue);
        });

        function filterEvents(filterValue) {
            var events = document.getElementsByClassName("python_event");

            for (var i = 0; i < events.length; i++) {
                var event = events[i];
                var eventDate = new Date(event.querySelector("[id^='date_']").textContent);

                if (filterValue === "today" && !isToday(eventDate)) {
                    event.style.display = "none";
                } else if (filterValue === "future" && !isFuture(eventDate)) {
                    event.style.display = "none";
                } else {
                    event.style.display = "block";
                }
            }
        }

        function isToday(date) {
            var today = new Date();
            return date.toDateString() === today.toDateString();
        }

        function isFuture(date) {
            var today = new Date();
            return date > today;
        }
    </script>
    {% endblock %}