{% extends 'base.html' %}

{% block title %}
Today - {{ date }}
{% endblock %}

{% block xtra_head %}<meta http-equiv="refresh" content="30" />{% endblock %}

{% block content %}
<div id="main_container" class="container py-5">
    {% if current_user.admin %}
    <button class="btn btn-primary" id="btn_print">Print Daily List</button>
    {% endif %}
    <div class="card">
        <h3 class="m-2">Tasks</h3>
        <div class="accordion accordion-flush" id="task_accordion">
            {% for task in tasks %}
            <div class="accordion-item">
                <div class="accordion-header d-flex justify-content-between align-items-center"
                    id="heading-task-{{task.id}}">
                    <button data-mdb-collapse-init class="accordion-button" type="button" data-mdb-toggle="collapse"
                        data-mdb-target="#collapse-task-{{task.id}}" aria-expanded="false"
                        aria-controls="collapse-task-{{task.id}}">
                        {{ task.name }}
                    </button>
                    {% if not task.no_check %}
                    <div class="form-check me-2">
                        <input class="form-check-input" type="checkbox" id="taskCheck_{{ task.id }}" name="completed" {%
                            if task.completed %}checked{% endif %} />
                        <label class="form-check-label" for="taskCheck_{{ task.id }}">
                            Completed
                        </label>
                    </div>
                    {% endif %}
                </div>
                <div id="collapse-task-{{task.id}}" class="accordion-collapse collapse"
                    aria-labelledby="heading-task-{{task.id}}">
                    <div class="accordion-body">
                        <div class="form-outline no-border" data-mdb-input-init>
                            <textarea class="form-control" id="task_description_{{task.id}}" {% if not
                                current_user.admin %}readonly{% endif %}>{{ task.description }}</textarea>
                        </div>
                    </div>
                    <script>
                        var textarea = document.getElementById("task_description_{{task.id}}");
                        textarea.rows = textarea.value.split("\n").length;
                    </script>
                </div>
            </div>
            {% endfor %}

            {% if current_user.admin %}
            <div class="d-grid gap-2 col-4 mx-auto">
                <button class="btn btn-primary" id="btn_tasks">Add Task</button>
            </div>
            {% endif %}
        </div>
        <div class="card">
            <h3 class="m-2">Events</h3>
            <div class="accordion accordion-flush" id="event_accordion">
                {% for event in events %}
                <div class="accordion-item ">
                    <div class="accordion-header d-flex justify-content-between align-items-center"
                        id="heading-event-{{event.id}}">
                        <button data-mdb-collapse-init class="accordion-button" type="button" data-mdb-toggle="collapse"
                            data-mdb-target="#collapse-event-{{event.id}}" aria-expanded="false"
                            aria-controls="collapse-event-{{event.id}}">
                            {{ event.time.strftime('%I:%M %p') }}: {{ event.name }} for {{event.person}}
                        </button>
                        {% if not event.no_check %}
                        <div class="form-check me-2">
                            <input class="form-check-input" type="checkbox" id="eventCheck_{{ event.id }}"
                                name="completed" {% if event.completed %}checked{% endif %} />
                            <label class="form-check-label" for="eventCheck_{{ event.id }}">
                                Completed
                            </label>
                        </div>
                        {% endif %}
                    </div>
                    <div id="collapse-event-{{event.id}}" class="accordion-collapse collapse"
                        aria-labelledby="heading-event-{{event.id}}" data-mdb-parent="#event_accordion">
                        <div class="accordion-body">
                            <div class="form-outline no-border" data-mdb-input-init="">
                                <textarea class="form-control" id="event_description_{{event.id}}" {% if not
                                    current_user.admin %}readonly{% endif %}>
                                    {{ event.description }}
                                </textarea>
                                <label class="form-label" for="event_description">Details</label>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% if current_user.admin %}
            <div class="d-grid gap-2 col-4 mx-auto">
                <button class="btn btn-primary" id="btn_events">Add Event</button>
            </div>
            {% endif %}
        </div>
        <div class="card">
            <h3 class="m-2">Notes</h3>
            <div class="accordion accordion-flush" id="note_accordion">
                {% for note in notes %}
                <div class="accordion-item ">
                    <div class="accordion-header d-flex justify-content-between align-items-center"
                        id="heading-note-{{note.id}}">
                        <button data-mdb-collapse-init class="accordion-button" type="button" data-mdb-toggle="collapse"
                            data-mdb-target="#collapse-note-{{note.id}}" aria-expanded="false"
                            aria-controls="collapse-note-{{note.id}}">
                            {{ note.title }}
                        </button>
                    </div>
                    <div id="collapse-note-{{note.id}}" class="accordion-collapse collapse"
                        aria-labelledby="heading-note-{{note.id}}" data-mdb-parent="#note_accordion">
                        <div class="accordion-body">
                            {{ note.content }}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="d-grid gap-2 col-4 mx-auto">
                <button class="btn btn-primary" id="btn_notes">Add Note</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
{% if current_user.admin %}
<script>
    document.getElementById("btn_tasks").addEventListener("click", function () {
        window.location.href = "{{ url_for('tasks.add_task') }}";
    });
    document.getElementById("btn_events").addEventListener("click", function () {
        window.location.href = "{{ url_for('events.add_event') }}";
    });
</script>
{% endif %}
<script>
    document.getElementById("btn_notes").addEventListener("click", function () {
        window.location.href = "{{ url_for('notes.add_note') }}";
    });

    document.querySelectorAll("[id^='event_description_']").forEach(function (textarea) {
        resizeTextarea(textarea);
    });

    document.querySelectorAll("[id^='task_description_']").forEach(function (textarea) {
        resizeTextarea(textarea);
    });

    document.querySelectorAll("[id^='eventCheck']").forEach(function (checkbox) {
        checkbox.addEventListener("click", function () {
            let eventId = checkbox.id.split("_")[1];
            let url = "{{ url_for('events.event_api', id=0) }}";
            url = url.replace("0", eventId);
            let formData = new FormData();
            if (checkbox.checked) {
                formData.append("completed", "True");
            } else {
                formData.append("completed", "False");
            }
            fetch(url, {
                body: formData,
                method: "PATCH"
            })
                .then(response => response.json())
                .then(data => {
                    console.log(data);
                })
                .catch(error => {
                    console.error(error);
                });
        });
    });

    document.querySelectorAll("[id^='taskCheck']").forEach(function (checkbox) {
        checkbox.addEventListener("click", function () {
            let taskId = checkbox.id.split("_")[1];
            let url = "{{ url_for('tasks.task_api', id=0) }}";
            url = url.replace("0", taskId);
            let formData = new FormData();
            if (checkbox.checked) {
                formData.append("completed", "True");
            } else {
                formData.append("completed", "False");
            }
            fetch(url, {
                body: formData,
                method: "PATCH"
            })
                .then(response => response.json())
                .then(data => {
                    console.log(data);
                })
                .catch(error => {
                    console.error(error);
                });
        });
    });

    document.querySelectorAll("[id^='task_description_']").forEach(function (textarea) {
        textarea.addEventListener("change", function () {
            let taskId = textarea.id.split("_")[2];
            let url = "{{ url_for('tasks.task_api', id=0) }}";
            url = url.replace("0", taskId);
            let formData = new FormData();
            formData.append("description", textarea.value);
            fetch(url, {
                body: formData,
                method: "PATCH"
            })
                .then(response => response.json())
                .then(data => {
                    console.log(data);
                })
                .then(() => {
                    resizeTextarea(textarea);
                })
                .catch(error => {
                    console.error(error);
                });
        });
    });

    document.querySelectorAll("[id^='event_description_']").forEach(function (textarea) {
        textarea.addEventListener("change", function () {
            let taskId = textarea.id.split("_")[2];
            let url = "{{ url_for('events.event_api', id=0) }}";
            url = url.replace("0", taskId);
            let formData = new FormData();
            formData.append("description", textarea.value);
            fetch(url, {
                body: formData,
                method: "PATCH"
            })
                .then(response => response.json())
                .then(data => {
                    console.log(data);
                })
                .then(() => {
                    resizeTextarea(textarea);
                })
                .catch(error => {
                    console.error(error);
                });
        });
    });

    function resizeTextarea(textarea) {
        textarea.rows = textarea.value.split("\n").length;
    }

    document.addEventListener('DOMContentLoaded', function () {

        document.getElementById('btn_print').addEventListener('click', function () {
            // Hide navbar
            let navbar = document.getElementById('navbar');
            navbar.classList.add('d-none');

            // Remove padding and make container fluid
            let main_container = document.getElementById('main_container');
            main_container.classList.remove('py-5', 'container');
            main_container.classList.add('py-0', 'container-fluid');

            // Expand all accordions
            let accordionContent = document.querySelectorAll("[id^='collapse-']");
            accordionContent.forEach(function (accordionContent) {
                if (accordionContent) {
                    accordionContent.classList.add('show');
                    accordionContent.classList.remove('collapsed');
                }
            });

            // Add print styles
            document.body.classList.add('print');

            // Invoke print
            window.print();

            // Remove print styles
            document.body.classList.remove('print');

            main_container.classList.remove('py-0', 'container-fluid');
            main_container.classList.add('py-5', 'container');

            // Collapse all accordions
            accordionContent.forEach(function (accordionContent) {
                if (accordionContent) {
                    accordionContent.classList.remove('show');
                    accordionContent.classList.add('collapsed');
                }
            });

            // Show navbar
            navbar.classList.remove('d-none');

        });
    });
</script>

{% endblock %} ```