{% extends 'base.html' %}

{% block title %}
Today
{% endblock %}

{% block content %}
<div class="container py-5">
    <div class="card">
        <h2 class="m-2">Tasks</h2>
        <ul class="list-group my-5">
            {% for task in tasks %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                {{ task.name }}
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="taskCheck{{ task.id }}">
                    <label class="form-check-label" for="taskCheck{{ task.id }}">
                        Completed
                    </label>
                </div>
            </li>
            {% endfor %}
        </ul>
        <div class="d-grid gap-2 col-6 mx-auto">
            <button class="btn btn-primary" id="btn_tasks">Add Task</button>
        </div>
    </div>
    <div class="card">
        <h2 class="m-2">Events</h2>
        <ul class="list-group my-5">
            {% for event in events %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                {{ event.time }}: {{ event.name }} for {{event.person}}
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="eventCheck{{ event.id }}">
                    <label class="form-check-label" for="eventCheck{{ event.id }}">
                        Completed
                    </label>
                </div>
            </li>
            {% endfor %}
        </ul>
        <div class="d-grid gap-2 col-6 mx-auto">
            <button class="btn btn-primary" id="btn_events" >Add Event</button>
        </div>
    </div>
    <div class="card">
        <h2 class="m-2">Notes</h2>
        <ul class="list-group my-5">
            {% for note in notes %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                {{ note.title }}
                {{ note.content }}
            </li>
            {% endfor %}
        </ul>
        <div class="d-grid gap-2 col-6 mx-auto">
            <button class="btn btn-primary" id="btn_notes">Add Note</button>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script>
    document.getElementById("btn_tasks").addEventListener("click", function () {
        window.location.href = "{{ url_for('tasks.add_task') }}";
    });
    document.getElementById("btn_events").addEventListener("click", function () {
        window.location.href = "{{ url_for('events.add_event') }}";
    });
    document.getElementById("btn_notes").addEventListener("click", function () {
        window.location.href = "{{ url_for('notes.add_note') }}";
    });
    

</script>
{% endblock %}
```