{% extends 'base.html' %}

{% block title %}QR Generator{% endblock %}

{% block content %}
<div class="container-fluid">
    <h2>QR Generator</h2>
    <section>
        <div id="qrcode"></div>
        <div class="form-outline mt-2" data-mdb-input-init>
            <textarea class="form-control" id="qr-data" rows="4"></textarea>
            <label class="form-label" for="qr-data">Message</label>
        </div>
        <button type="button" id="btn-generate" class="btn btn-primary">Generate</button>
    </section>
</div>
{% endblock %}

{% block extra_js %}
<script src="{{url_for('static', filename='js/qrcode.min.js')}}"></script>
<script>
    function generateQRCode(qr_data) {
        // Clear the previous QR codes
        document.getElementById('qrcode').innerHTML = '';

        let qrcode = new QRCode(document.getElementById('qrcode'), {
            text: qr_data,
            width: 256,
            height: 256,
            colorDark: "#000000",
            colorLight: "#ffffff",
            correctLevel: QRCode.CorrectLevel.M // Use Level L for maximum capacity
        });
    }

    document.getElementById('btn-generate').addEventListener('click', function () {
        let qr_data = document.getElementById('qr-data').value;
        generateQRCode(qr_data);
    });
</script>
{% endblock %}