{% extends 'base.html' %}

{% block title %}
Tasks
{% endblock %}

{% block content %}
<div class="container py-5">
    <h1>Tasks</h1>
    <div class="container">
        <div class="row">
            {% for task in tasks %}
            <div class="col-md-4 col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ task.name }}</h5>
                        <p class="card-title">{{ task.date }}</p>
                        <p class="card-text">{{ task.description }}</p>
                        <button class="btn btn-primary" id="btn_task_detail" onclick="redirectToTaskDetail( '{{task.id}}' )">View Details</button>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <button class="btn btn-primary" id="btn_add_task">Add Task</button>
</div>
{% endblock %}

{% block extra_js %}
<script>
    function redirectToTaskDetail(eventId) {
        url = "{{ url_for('tasks.task_detail', id=0) }}"
        url = url.replace('0', eventId);
        window.location.href = url;
    }

    document.getElementById("btn_add_task").addEventListener("click", function () {
        window.location.href = "{{ url_for('tasks.add_task') }}";
    });

</script>
{% endblock %}