{% extends 'base.html' %}

{% block title %}
Tasks
{% endblock %}

{% block content %}
<div class="container py-5">
    <h1>Tasks</h1>
    <div class="container">
        <div class="row my-2">
            <div class="col-md-3" <div class="form-control">
                <select id="filter" class="form-select" data-mdb-select-init>
                    <option value="today" selected>Today</option>
                    <option value="all">All</option>
                    <option value="future">Future</option>
                </select>
                <label class="form-label select-label" for="filter">Filter</label>
            </div>
        </div>

        <section>
            <div class="card shadow-0">
                <div class="card-header py-4 mb-3">
                    <h4 class="mb-0">Selected Tasks</h4>
                </div>
                <div class="card-body">
                    <div class="d-flex justify-content-end mb-4">
                        <div data-mdb-input-init class="form-outline">
                            <input type="text" class="form-control" id="datatable-search-input" />
                            <label class="form-label" for="datatable-search-input">Search</label>
                        </div>
                        <a class="btn btn-primary btn-sm ms-3" href="{{url_for('tasks.add_task')}}">
                            <i class="fa fa-plus"></i>
                        </a>
                    </div>
                    <div id="datatable" class="datatable" data-mdb-datatable-init data-mdb-fixed-header="true"></div>
                    <hidden id="selectedRows"></hidden>
                </div>
            </div>
        </section>
    </div>
    <button class="btn btn-primary" id="btn_add_task">Add Task</button>
</div>
{% endblock %}

{% block extra_js %}
<script>

    function redirectToTaskDetail(eventId) {
        url = "{{ url_for('tasks.task_detail', id=0) }}"
        url = url.replace('0', eventId);
        window.location.href = url;
    }

    document.getElementById("btn_add_task").addEventListener("click", function () {
        window.location.href = "{{ url_for('tasks.add_task') }}";
    });

    document.addEventListener("DOMContentLoaded", function () {
        filterEvents("today");
    });

    document.getElementById("filter").addEventListener("change", function () {
        var filterValue = this.value;
        filterEvents(filterValue);
    });

    function filterEvents(filterValue) {
        if (filterValue === "today") {
            let now = new Date().toLocaleDateString("sv");
            fetchTasks(now);
        } else if (filterValue === "future") {
            fetchTasks("future");
        } else {
            fetchTasks("all");
        }
    }

    function isFuture(date) {
        var today = new Date();
        today.setHours(0, 0, 0, 0);
        return date > today;
    }

    function isTemplate(date) {
        console.log(date)
        return date === new Date("template");
    }

    function isToday(date) {
        let today = new Date();
        date = new Date(date);
        console.log("incoming: ", date.toDateString())
        console.log("calculated:", today.toDateString())
        return date.toDateString() === today.toDateString();
    }

    function fetchTasks(query_date) {
        let url = "{{ url_for('tasks.task_list') }}/".concat(query_date);
        fetch(url)
            .then((response) => {
                if (!response.ok) {
                    throw new Error(`HTTP error! status: ${response.status}`);
                }
                return response.json();
            })
            .then((data) => {
                data = data.map((task) => {
                    const date = new Date(task.date);
                    task.date = date.toISOString().split('T')[0]; // This will give you the date in 'YYYY-MM-DD' format
                    task.completed = task.completed ? 'Yes' : 'No'; // Map boolean values to 'Yes' or 'No'
                    return task;
                });
                console.log(data);
                asyncTable.update(
                    {
                        rows: data,
                    },
                    { loading: false }
                );
            })
            .catch((error) => {
                console.error('There was a problem with the fetch operation: ', error);
            });
    }



    const setActions = () => {
        document.getElementsByClassName('edit-btn').forEach(btn => {
            btn.addEventListener('click', () => {
                console.log(`edit ${btn.attributes['data-mdb-id'].value}`)
            })
        })

        document.getElementsByClassName('delete-btn').forEach(btn => {
            btn.addEventListener('click', () => {
                console.log(`delete ${btn.attributes['data-mdb-id'].value}`)
            })
        })
    }

    const columns = [
        { label: 'Date', field: 'date' },
        { label: 'Name', field: 'name' },
        { label: 'Description', field: 'description' },
        { label: 'Completed', field: 'completed' },
        { label: 'Actions', field: 'id' },
    ];

    const asyncTable = new mdb.Datatable(document.getElementById('datatable'),
        {
            columns,
            rows: [].map((row) => {
                return {
                    ...row,
                    id: `
    <button data-mdb-ripple-init class="edit-btn btn btn-outline-primary btn-floating btn-sm" data-mdb-id="${row.id}"><i class="fa fa-edit"></i></button>
    <button data-mdb-ripple-init class="delete-btn btn btn-outline-primary btn-floating btn-sm" data-mdb-id="${row.id}"><i class="fa fa-delete"></i></button>`,
                };
            }),
            search: { enabled: true },
            pagination: { enabled: true },
        },
        {
            loading: true,
            striped: true,
            sortable: true,
        }
    );

    document.getElementById('datatable').addEventListener('render.mdb.datatable', setActions);


    document.getElementById('datatable-search-input').addEventListener('input', (e) => {
        asyncTable.search(e.target.value);
    });

</script>
{% endblock %}