{% extends 'base.html' %}

{% block title %}
Templates
{% endblock %}

{% block content %}
<div class="container py-5">
    <h1>Template Management</h1>
    <div class="container">
        <div class="row my-2">
            <div class="col-md-3 ">
                <select id="filter" class="form-select" data-mdb-select-init>
                    <!-- <option value="today" selected>Today</option>
                    <option value="all">All</option>
                    <option value="future">Future</option> -->
                    {% for template in templates %}
                    <option value="{{ template.id }}">{{ template.name }}</option>
                    {% endfor %}
                </select>
                <label class="form-label select-label" for="filter">Filter</label>
            </div>
            <div class="col-md-3">
                <div class="form-outline" data-mdb-input-init>
                    <input class="form-control" type="date" id="date" name="date" />
                    <label class="form-label" for="date">Date</label>
                </div>
            </div>
        </div>
        <button class="btn btn-primary" id="btn_add_task">Add Selected Items to Date</button>
        <section>
            <div class="card shadow-0">
                <div class="card-header py-4 mb-3">
                    <h4 class="mb-0">Template Tasks</h4>
                </div>
                <div class="card-body">
                    <div class="d-flex justify-content-end mb-4">
                        <div data-mdb-input-init class="form-outline">
                            <input type="text" class="form-control" id="datatable-search-input" />
                            <label class="form-label" for="datatable-search-input">Search</label>
                        </div>
                        <button class="btn btn-primary btn-sm ms-3" >
                            <i class="fa fa-plus"></i>
                        </button>
                    </div>
                    <div id="datatable" data-mdb-selectable="true" data-mdb-multi="true" data-mdb-loading="true"></div>
                    <hidden id="selectedRows"></hidden>
                </div>
            </div>
        </section>
    </div>

</div>
{% endblock %}

{% block extra_js %}
<script type="text/javascript" src="{{url_for('static', filename='plugins/js/all.min.js')}}"></script>
<script>
    function redirectToTaskDetail(eventId) {
        url = "{{ url_for('tasks.task_detail', id=0) }}"
        url = url.replace('0', eventId);
        window.location.href = url;
    }

    function fetchTasks(templateId) {
        let url = "{{ url_for('tasks.template_tasks_api', id=0) }}"
        url = url.replace('0', templateId);
        fetch(url)
            .then((response) => response.json())
            .then((data) => {
                asyncTable.update(
                    {
                        rows: data.map((user) => ({
                            ...user,
                        })),
                    },
                    { loading: false }
                );
            });
    }

    document.getElementById('btn_add_template').addEventListener('click', function () {
        url = "{{ url_for('tasks.add_template') }}"
    });

    document.getElementById('filter').addEventListener('change', function () {
        fetchTasks(this.value);
    });

    const columns = [
        { label: 'Name', field: 'name' },
        { label: 'Description', field: 'description' },
        { label: 'ID', field: 'id' },
    ];

    const asyncTable = new mdb.Datatable(
        document.getElementById('datatable'),
        { columns, },
        {
            loading: true,
            striped: true,
            sortable: true,
        }
    );

    fetchTasks(1);

    document.getElementById('datatable-search-input').addEventListener('input', (e) => {
        asyncTable.search(e.target.value);
    });

    document.getElementById('datatable').addEventListener('rowSelected.mdb.datatable', (e) => {
        document.getElementById('selectedRows').value = e.selectedRows;
    })

    document.getElementById('btn_add_task').addEventListener('click', function () {
        const selectedRowsData = document.getElementById('selectedRows').value;
        console.log(selectedRowsData);

        const date = document.getElementById('date').value;

        selectedRowsData.forEach(row => {
            let formData = new FormData();
            formData.append('task_id', row.id);
            formData.append('date', date);
            console.log(formData)
            fetch(`{{ url_for('tasks.template_task_api') }}`, {
                method: 'POST',
                body: formData,
            })
                .then(response => response.json())
                .then(data => console.log(data))
                .catch((error) => {
                    console.error('Error:', error);
                });
        });
    });
</script>
{% endblock %}