{% extends "base.html" %}

{% block content %}
{% with messages = get_flashed_messages(with_categories=true) %}
<!-- Alert -->
{% if messages %}
{% for category, message in messages %}

{{ message }}

{% endfor %}
{% endif %}
{% endwith %}

<div id="result"></div>

{% endblock %}

{% block extra_js %}
<script>
    let time1 = new Date("3-25-2024 13:30:00").getTime();
    console.log(time1);
    let time2 = new Date("3-25-2024 14:00:00").getTime();
    let minutes = (time1 - time2) / 1000 / 60;

    document.getElementById('result').innerHTML = minutes;

    const startTime = new Date("1-1-1970 10:30:00");
    const endTime = new Date("1-1-1970 10:40:00");
    const diffInMinutes = (endTime - startTime) / 60000;
    console.log(diffInMinutes); 
</script>

{% endblock %}